<% layout("/layouts/boilerplate") %>
<br>
<div class="row">
    <div class="col-8 offset-2">
        <h3>Create a New Listing</h3>
        <br>
        <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
            <div>
                <label for="title" class="form-label">Title</label>
                <input 
                    type="text" 
                    name="listing[title]" 
                    placeholder="Add a catchy title"
                    class="form-control"
                    required
                >
                <div class="valid-feedback">Title looks good!</div>
                <div class="invalid-feedback">Please enter a title</div>
            </div>
            <br><br>
            <div>
                <label for="description" class="form-label">Description</label>
                <textarea
                    name="listing[description]" 
                    placeholder="Enter description"
                    class="form-control" required></textarea>
                
                <div class="invalid-feedback">Please enter a short description</div>
            </div>
            <br><br>
            <div class="mb-3">
                <label for="image" class="form-label">Upload Listing Image</label>
                <input 
                    type="file" 
                    name="listing[image]" 
                    class="form-control"
                >
            </div>
            <br><br>
            <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="price" class="form-label">Price</label>
                    <input 
                        type="number" 
                        name="listing[price]" 
                        placeholder="1200"
                        class="form-control"
                        required
                    >
                    <div class="invalid-feedback">Price should be valid</div>
                </div>
                
                <div class="mb-3 col-md-8">
                    <label for="category" class="form-label">Category</label>
                    <select class="form-select" aria-label="Default select example" name="listing[category]">
                        <option selected>None</option>
                        <option value="Trending">Trending</option>
                        <option value="Mountains">Mountains</option>
                        <option value="Rooms">Rooms</option>
                        <option value="Iconic Cities">Iconic Cities</option>
                        <option value="Amazing Pools">Amazing Pools</option>
                    </select>
                </div>
            
                <div class="mb-3 col-md-8">
                    <label for="country" class="form-label">Country</label>
                    <input 
                        type="text" 
                        name="listing[country]" 
                        placeholder="India"
                        class="form-control"
                        required
                    >
                    <div class="invalid-feedback">Country name should be valid</div>
                </div>
            </div>
            <br><br>
            <div>
            <label for="location" class="form-label">Location</label>
                <input type="text" 
                    name="listing[location]" 
                    placeholder="Jaipur, Rajasthan"
                    class="form-control"
                    required
                >
                <div class="invalid-feedback">Location should be valid</div>
            </div>
            <br><br>
            <button class="btn btn-dark add-btn">Add</button>
        </form>
    </div>
</div>
<br>